.cols {
    display: flex;
  }
  
  .left-column {
    flex: 1; 
    flex-direction: column;
  }
  
  .right-column {
    flex: 0; 
    margin-left: 20px; 
}

h2 {
    font-size: 2em;
    line-height: 1.3em;
    font-family: 'Sora-semibold', Roboto, "Helvetica Neue", sans-serif !important; 
    color: rgb(0, 0, 0);
}