<h3 class="margin-top">Energy overview by day of week</h3>
<mat-divider></mat-divider>

<!-- <div *ngFor="let labeledChart of labledGraphData" class="filter-section"> -->
<div class="day-section">
  <div>
    <div class="dayChart" id="MONDAY"></div>  
  </div>
  <div>  
    <div class="dayChart" id="TUESDAY"></div> 
  </div>  
  <div> 
    <div class="dayChart" id="WEDNESDAY"></div> 
  </div> 
  <div>  
    <div class="dayChart" id="THURSDAY"></div> 
  </div>  
  <div> 
    <div class="dayChart" id="FRIDAY"></div> 
  </div>   
  <div>
    <div class="dayChart" id="SATURDAY"></div> 
  </div>
  <div>   
    <div class="dayChart" id="SUNDAY"></div>    

</div>
</div>


<h3 class="margin-top">Electrodeposition overview by day of week</h3>
<mat-divider></mat-divider>

<!-- <div *ngFor="let labeledChart of labledGraphData" class="filter-section"> -->
<div class="day-section">
  <div>
    <div class="dayChart" id="MONDAY2"></div>  
  </div>
  <div>  
    <div class="dayChart" id="TUESDAY2"></div> 
  </div>  
  <div> 
    <div class="dayChart" id="WEDNESDAY2"></div> 
  </div> 
  <div>  
    <div class="dayChart" id="THURSDAY2"></div> 
  </div>  
  <div> 
    <div class="dayChart" id="FRIDAY2"></div> 
  </div>   
  <div>
    <div class="dayChart" id="SATURDAY2"></div> 
  </div>
  <div>   
    <div class="dayChart" id="SUNDAY2"></div>    

</div>
</div>
