
<div class="page">
  <h2>Property in {{property?.city?.name}} {{property?.address}}</h2>
  <h2>Owner {{property?.propertyOwner?.name}} {{property?.propertyOwner?.lastName}}</h2>

<app-report-by-year [id]="property?.id || ''"></app-report-by-year>

<app-report-by-day [id]="property?.id || ''"></app-report-by-day>

<app-report-by-week [id]="property?.id || ''"></app-report-by-week>

<div class="chart-div">
  <app-report-by-device-type class="chart" [deviceId]="property?.id || ''"></app-report-by-device-type>
</div>

</div>