.barChart {
    height: 370px; width: 100%; margin:auto;
    margin-top: 3vh;
}

.dayChart {
  height: 200px; width: 25%; margin:auto;
  margin-top: 3vh;
}

.page {
  margin: 5%;
}

.filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
    /* margin-bottom: 1vh; */
}

.filter-section .mat-form-field {
    flex: 1; 
}

.filter-section-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.car-plate {
    margin-left: 27px;
    font-size: 1.3em;
    padding: 1.5vh;
  }
  
  .car-info {
    display: flex;
    flex-direction: column;
  }
  
  .car-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 27px;
  }
  
  .detail-label {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 40px;
  }
  
  .detail-value {
    color: #007bff; /* You can customize the color */
  }
  .widthCard {
    width: 80%;
  }

  .mat-form-field {
    margin: 20px !important;
    width: 30% !important;
}
  
  
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(57, 57, 57) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: black !important ;
}

.mat-raised-button {
    margin: 20px;
    height: 2.8em;
    min-width: 160px;
    width: 6vw;
}

.mat-tooltip {
    font-family: 'Heebo-regular', Roboto, "Helvetica Neue", sans-serif !important; 
    /* padding: 15px 28px !important;  */
    padding: 0 !important;
    font-size: medium;
}

.margin-top {
  margin-top: 5vh;
}


.day-section {
  display: flex;
  flex-wrap: wrap;
}

.day-section > div {
  width: 40%; /* Each div takes 25% of the container width */
}

.dayChart {
  /* Your styles for the dayChart divs */
  height: 200px; /* Example height */
  margin:auto;
  width: 100%; /* Each div takes 25% of the container width */

}