<div class="page">
    <h2>{{ambientSensor!.modelName}}</h2>
    <h3>Ambient Sensor</h3>
    <mat-divider></mat-divider>
    <div class="cols">
        <div class="left-column">

          <div class="settings-group">
              <button class="placeholder-btn"  mat-button><mat-icon>linear_scale</mat-icon></button>
              <button  class="placeholder-btn" mat-button>Current temperature: {{currentTemp}}</button>
          </div>

          
          <div class="settings-group">
            <button class="placeholder-btn"  mat-button><mat-icon>settings_system_daydream</mat-icon></button>
            <button  class="placeholder-btn" mat-button>Current humidity: {{currentHum}}</button>
          </div>
        
      </div>

      <div class="right-column">
        <img class="img-card" [src]="ambientSensor!.imagePath" alt="Ambient Sensor Image">
      </div>
    </div>

    <h4>Real-time updates via charts</h4>
    <mat-divider></mat-divider>
    <div class="chart-container">
      <canvas id="realtimeTempChart">{{ realtimeTempChart }}</canvas>
    </div>

    <div class="chart-container">
      <canvas id="realtimeHumChart">{{ realtimeHumChart }}</canvas>
    </div>
    
    <h5 matTooltip="Graphical chart displaying of data for true accessibility">Chart insights</h5>
    <mat-divider></mat-divider>
    
    <div class="same-row">
        <mat-form-field class="margin-left">
            <mat-label>Select time range</mat-label>
            <mat-select [(ngModel)]="selectedOption" (selectionChange)="onDropdownChange()">
                <mat-option value="6h">Last 6h</mat-option>
                <mat-option value="12h">Last 12h</mat-option>
                <mat-option value="24h">Last 24h</mat-option>
                <mat-option value="7d">Last week</mat-option>
                <mat-option value="30d">Last month</mat-option>
                <mat-option value="range">Time range</mat-option>
            </mat-select>
        </mat-form-field>
        
        <div *ngIf="selectedOption == 'range'" class="margin-left">
          <form [formGroup]="dateForm" (ngSubmit)="reportPeriod()">
            <mat-form-field>
                <mat-label>Start date</mat-label>
                <input matInput type="datetime-local" name="startDate" formControlName="startDate" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>End Date</mat-label>
                <input matInput type="datetime-local" name="endDate" formControlName="endDate" />
            </mat-form-field>
            <p>Dates must be less than 30 days apart</p>
            <button type="submit" class="report-btn">Report</button>
          </form>
        </div>
    </div>

    <div class="chart-container">
      <canvas id="reportTempChart">{{ reportTempChart }}</canvas>
    </div>
    <div class="chart-container">
      <canvas id="reportHumChart">{{ reportHumChart }}</canvas>
    </div>

    <div class="chart-div-online">
      <app-online-offline-chart class="chart" #onlineOfflineChart [deviceId]="ambientSensor!.id"></app-online-offline-chart>
    </div>
    
</div>


<!-- <div>
  <h2>Current temperature: {{currentTemp}}</h2>
  <h2>Current humidity: {{currentHum}}</h2>

  <div class="chart-container">
    <canvas id="realtimeChart">{{ realtimeChart }}</canvas>
  </div>

  <button class="report-btn" (click)="report(6)">Last 6 hours</button>
  <button class="report-btn" (click)="report(12)">Last 12 hours</button>
  <button class="report-btn" (click)="report(24)">Last 24 hours</button>
  <button class="report-btn" (click)="report(7 * 24)">Last week</button>
  <button class="report-btn" (click)="report(30 * 24)">Last 30 days</button>

  <form [formGroup]="dateForm" (ngSubmit)="reportPeriod()">
    <mat-form-field class="oneLine">
        <mat-label>Start date</mat-label>
        <input matInput type="datetime-local" name="startDate" formControlName="startDate" />
    </mat-form-field>
    <mat-form-field class="oneLine">
        <mat-label>End Date</mat-label>
        <input matInput type="datetime-local" name="endDate" formControlName="endDate" />
    </mat-form-field>
    <button type="submit" class="report-btn">In period</button>
  </form>

  <div class="chart-container">
    <canvas id="reportChart">{{ reportChart }}</canvas>
  </div>

</div> -->
