.same-row{
    display: flex;
    justify-content: flex-start;
}
.margin-left{
    margin-left: 2vw;
}

.page {
    margin: 5%;
}

h2 {
    font-size: 2em;
    line-height: 1.3em;
    font-family: 'Sora-semibold', Roboto, "Helvetica Neue", sans-serif !important; 
    color: rgb(0, 0, 0);
}
.view-data {
    margin-left: 20px;
}
h3 {
    font-size: 1.6em;
    line-height: 1.1em;
    font-family: 'Sora-regular', Roboto, "Helvetica Neue", sans-serif !important; 
    color: rgb(0, 0, 0);
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #4d6f76;
}

.mat-divider {
    border-top: 2px solid rgb(190, 190, 190);
    margin-bottom: 10px;
}

img {
    height: auto;
    width: 30vw;
    border-radius: 20px;
}

.cols {
    display: flex;
  }
  
  .left-column {
    flex: 1; 
    flex-direction: column;
  }
  
  .right-column {
    flex: 0; 
    margin-left: 20px; 
}

.placeholder-btn, .disabled-button {
    pointer-events: none; 
    cursor: not-allowed;
}

.settings-group {
    margin: 10px 0;
}

.disabled-section {
    background-color: rgba(208, 208, 208, 0.385); 
    color: rgb(149, 149, 149); 
    border-radius: 20px;
}

.changeable-section {
    border-radius: 20px;
    padding: 15px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.table-div {
    width: 80%;
    display: block;
    margin-top: 5vh !important;
}

::ng-deep .mat-table {
    width: 100% !important;
}

.mat-form-field {
    margin: 20px !important;
    width: 30% !important;
}
  
  
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(57, 57, 57) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: black !important ;
}

.mat-raised-button {
    margin: 20px;
    height: 2.8em;
    min-width: 160px;
    width: 6vw;
}

.mat-tooltip {
    font-family: 'Heebo-regular', Roboto, "Helvetica Neue", sans-serif !important; 
    /* padding: 15px 28px !important;  */
    padding: 0 !important;
    font-size: medium;
}

.filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.filter-section .mat-form-field {
    flex: 1; 
}

.filter-section-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  

.chart-div {
    margin-top: 40px;
    margin-bottom: 40px;
}

.chart-div-online {
display: block;
padding-top: 40px;
padding-bottom: 200px;
}

.car-plate {
    margin-left: 27px;
    font-size: 1.3em;
    padding: 1.5vh;
  }
  
  .car-info {
    display: flex;
    flex-direction: column;
  }
  
  .car-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 27px;
  }
  
  .detail-label {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 40px;
  }
  
  .detail-value {
    color: #007bff; /* You can customize the color */
  }
  
  .chart-container {
    height: 270px; width: 100%; margin:auto;
    display: block;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 200px;
  }