<div class="page">
    <h2>Properties overview page</h2>
    <mat-divider></mat-divider>
    <div class="table-div">
  
        <h4>Propertyes</h4>
        <h5 matTooltip="Filter for ease of access"  matTooltipPosition="after">Filters</h5>
        <mat-divider></mat-divider>

        <div class="filter-section">
            <mat-form-field>
                <input matInput placeholder="Property type" [(ngModel)]="filterPropType">
              </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Country" [(ngModel)]="filterCountry">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City" [(ngModel)]="filterCity">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Owner email" [(ngModel)]="filterEmail">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Owner name" [(ngModel)]="filterOwnerName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="rangeProperty" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            
                <mat-error *ngIf="rangeProperty.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="rangeProperty.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
            
        </div>
        <div class="filter-section-button"> 
            <button mat-raised-button (click)="applyFilterProperty()">Filter</button>
            <button mat-raised-button (click)="clearFilterProperty()">Clear Filter</button>
        </div>

        <p *ngIf="filterAppliedProperty">*Filter is applied. Clear filter to view all propertyes.</p>

        <table
            mat-table
            #eventTable
            [dataSource]="dataSourceProperty"
            class="mat-elevation-z8"
            matSort
            #empTbSort="matSort">
    
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Property Type</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.propertyType.toLowerCase() }}</td>
            </ng-container>
    
            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.city.country.name }}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.city.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ownerEmail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner email</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.propertyOwner.email }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ownerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner name</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.propertyOwner.name }} {{ element.propertyOwner.lastName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="energy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Energy Consumed(kw)</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.energy | number:'1.2-2'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="electodistribution">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Electrodistibution(kw)</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.electodistribution | number:'1.2-2'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>More Info</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="goToSingleProperty(element)"><mat-icon>search</mat-icon></button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsProperty"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsProperty" class="pointer"></tr>
        
        </table>
        <mat-paginator
            #paginatorFirst
            [length]="lengthProperty"
            [pageIndex]="currentPageProperty"
            [pageSize]="pageSizeProperty"
            [pageSizeOptions]="[5, 10, 25, 50]"
            showFirstLastButtons
            (page)="handlePage($event)"
        ></mat-paginator>
    
    </div>

    <div class="table-div">
    <h4>Cityes</h4>
        <h5 matTooltip="Filter for ease of access"  matTooltipPosition="after">Filters</h5>
        <mat-divider></mat-divider>

        <div class="filter-section">
    
            <mat-form-field>
              <input matInput placeholder="Country" [(ngModel)]="filterCountry2">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City" [(ngModel)]="filterCity2">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="rangeCity" [rangePicker]="picker2">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-date-range-picker #picker2></mat-date-range-picker>
            
                <mat-error *ngIf="rangeCity.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="rangeCity.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
            
        </div>
        <div class="filter-section-button"> 
            <button mat-raised-button (click)="applyFilterCity()">Filter</button>
            <button mat-raised-button (click)="clearFilterCity()">Clear Filter</button>
        </div>

        <p *ngIf="filterAppliedCity">*Filter is applied. Clear filter to view all properties.</p>

        <table
            mat-table
            #eventTable
            [dataSource]="dataSourceCity"
            class="mat-elevation-z8"
            matSort
            #empTbSortWithObject="matSort">

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.city.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.city.country.name }}
                </td>
            </ng-container>
    

            <ng-container matColumnDef="propertyNum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Property NO</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.propertyesNum }}
                </td>
            </ng-container>

            <ng-container matColumnDef="energy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Energy Consumed(kw)</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.energy | number:'1.2-2'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="electodistribution">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Electrodistibution(kw)</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.electodistribution | number:'1.2-2'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>More Info</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="goToSingleCity(element)"><mat-icon>search</mat-icon></button>
                </td>
            </ng-container>

    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsCyty"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCyty" class="pointer"></tr>
        
        </table>
        <mat-paginator
            #paginatorSecond
            [length]="lengthCity"
            [pageIndex]="currentPageCity"
            [pageSize]="pageSizeCity"
            [pageSizeOptions]="[5, 10, 25, 50]"
            showFirstLastButtons
            (page)="handlePage2($event)"
        ></mat-paginator>
    
    </div>

    <div class="chart-div">
        <div class="chart" id="PYCHARTchartContainer22"></div>    
    </div>
</div>
