<h1>Register device</h1>

<div class="main_container">
    <div class="device_type">
        <h2>Indore devices</h2>
        <mat-radio-button >Ambient senzor</mat-radio-button>
        <mat-radio-button >Air conditioner</mat-radio-button>
        <mat-radio-button >Washing mashine</mat-radio-button>
    </div>
    <div class="device_type">
        <h2>Outdore devices</h2>
        <mat-radio-button >Lamp</mat-radio-button>
        <mat-radio-button >Gate</mat-radio-button>
        <mat-radio-button >Sprinklers</mat-radio-button>
    </div>
    <div class="device_type">
        <h2>Large electroenergy devices</h2>
        <mat-radio-button >Solar panels</mat-radio-button>
        <mat-radio-button >House batery</mat-radio-button>
        <mat-radio-button >Charger</mat-radio-button>
    </div>
</div>