.page {
    padding-bottom: 20vh;
    padding-top: 10vh;
    margin: 5%;
}

h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    font-family: 'Sora-semibold', Roboto, "Helvetica Neue", sans-serif !important; 
    cursor: default;
} 


h2 {
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: 'Sora-semibold', Roboto, "Helvetica Neue", sans-serif !important; 
    text-align: center;
    padding: 10px;
    cursor: default;
} 

h3 {
  font-family: 'Sora-regular', Roboto, "Helvetica Neue", sans-serif !important; 
  font-size: 1.1em;
}

.main_container {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    font-size: 1.3em;
    padding: 2vh 0;
    font-family: 'Sora-regular', Roboto, "Helvetica Neue", sans-serif !important; 
}
 
.device-type {
    padding: 2vh;
    margin: 3vh;
    border-radius: 20px;
    background-color: #f9f9f9;
    width: 25%;
    justify-content: center;
}

.device-type:hover {
  background-color: #a3c0c642;
}

h1 {
    font-size: xx-large;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

mat-radio-button {
    padding-bottom: 2vh;
    margin-left: 10px;
    padding-left: 10px;
    width: 100%;  
    font-family: 'Heebo-regular', Roboto, "Helvetica Neue", sans-serif !important; 

}

.half-flex {
    text-align: center;
    width: 45%;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.checkbox {
    width: 1em;
    height: 1em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding-bottom: 6vh;
  }
  
.item {
    width: 200px; 
    height: 30px; 
    margin: 10px; 
  }

  button.upload-image {
    font-family: 'Sora-semibold';
    width: 300px;
    height: 4em;
    font-size: 1.1em;
}

.charging-toggle {
    font-size: 1.1em;
    width: max-content;
    margin-top: 20px;
}

mat-button-toggle-group.charging-toggle {
  margin: 0 !important;
}



::ng-deep .mat-form-field {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.general .mat-form-field {
  min-width: 30vw;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(57, 57, 57) !important;
}

/* mat-label focused style */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: black !important ;
}



::ng-deep mat-step-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    font-family: 'Sora-semibold', Roboto, "Helvetica Neue", sans-serif !important; 
    margin-bottom: 3vh;
}

::ng-deep .mat-step-text-label {
    font-size: 1.1em !important; 
  }

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: #A3C0C6;
}



::ng-deep .mat-step-content {
  color: #A3C0C6;
}


::ng-deep .mat-step-header .mat-step-icon {
    color: #fff;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: #A3C0C6;
    color: #fff;
}


::ng-deep mat-step-header {
  border-radius: 10px !important; /* Initial border-radius value */
}

::ng-deep mat-step-header:hover  {
  border-radius: 20px !important; 
}

::ng-deep  .mat-stepper-horizontal-line {
    border-width: 2px !important;
    margin-bottom: 22.5px !important;
}

button.mat-stepper-next, button.mat-stepper-previous {
    margin-top: 40px;
    font-size: 1.2em;
}

button.mat-stepper-previous {
  font-weight: 300;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

::ng-deep mat-step.type-step {
    display: flex;
    align-items: center;
    justify-content: center;
}


::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #A3C0C6 !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle,
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-ripple .mat-ripple-element,
::ng-deep .mat-radio-button.mat-accent:focus .mat-radio-outer-circle,
::ng-deep .mat-radio-button.mat-accent:focus .mat-radio-inner-circle,
::ng-deep .mat-radio-button.mat-accent:focus .mat-radio-ripple .mat-ripple-element {
  background-color: #A3C0C6 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: #3d3f4592 !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
::ng-deep .mat-radio-button.mat-accent:focus .mat-radio-outer-circle {
  border-color: #A3C0C6 !important;
}

.uploaded-img {
  width: 300px;
  margin-top: 30px;
}


.image-container {
  position: relative;
  display: inline-block;
}

.delete-button {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-specs {
  padding: 20px;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.general {
  display: flex;
  flex-direction: column;
}


.type-image-div {
  width: 30vw;
  height: 20vh;
  position: relative;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 0;
  border-radius: 12px;
}

.type-image-div p {
  position: relative; 
  z-index: 2; 
  color: #fff;
  padding-top: 10vh;
  font-size: 2em;
  cursor: default;
}

.type-image-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(105, 105, 105, 0.355);
  z-index: 1;
  border-radius: 12px;
}