<div>
  <h2>Current temperature: {{currentTemp}}</h2>
  <h2>Current humidity: {{currentHum}}</h2>

  <div class="chart-container">
    <canvas id="realtimeChart">{{ realtimeChart }}</canvas>
  </div>

  <button class="report-btn" (click)="report(1)">Last 6 hours</button>
  <button class="report-btn" (click)="report(12)">Last 12 hours</button>
  <button class="report-btn" (click)="report(24)">Last 24 hours</button>
  <button class="report-btn" (click)="report(7 * 24)">Last week</button>
  <button class="report-btn" (click)="report(30 * 24)">Last 30 days</button>

  <form [formGroup]="dateForm" (ngSubmit)="reportPeriod()">
    <mat-form-field class="oneLine">
        <mat-label>Start date</mat-label>
        <input matInput type="datetime-local" name="startDate" formControlName="startDate" />
    </mat-form-field>
    <mat-form-field class="oneLine">
        <mat-label>End Date</mat-label>
        <input matInput type="datetime-local" name="endDate" formControlName="endDate" />
    </mat-form-field>
    <button type="submit" class="report-btn">In period</button>
</form>

  <div class="chart-container">
    <canvas id="reportChart">{{ reportChart }}</canvas>
  </div>

</div>
