<!-- <p>{{deviceId}}</p> -->
<div class="filter-section">
    <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="rangeOVaj" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    
        <mat-error *ngIf="rangeOVaj.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="rangeOVaj.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
    <button mat-raised-button class="view-data" (click)="changeChartOVaj()">View data</button>
</div>
<div class="chart-div">
    <div class="chart" id="PYCHARTchartLAST"></div>    
</div>
