  
  mat-toolbar{
    margin-top: 1vh;
    margin-left: 0.5%;
    height: 3.5em;
    display: flex;
    width: 99%;
    justify-content: space-between;
  }

  .mat-toolbar.rounded-toolbar {
    border-radius: 25px;
    background-color: #e1dede8f;
    color: rgb(0, 0, 0); 
  }

  .mat-toolbar.rounded-toolbar span {
    flex: 1; 
  }
  
  a.logo {
      font-family: 'Sora-semibold';
      margin-left: 2%;
      cursor: pointer;
      text-decoration: none;
      color: black;
  }
  .white-text {
    color: white;
  }
  
  .center-text {
    margin: 0 auto;
    /* text-align: center; */
  }
  
  .bigger-text {
    font-size: larger;
  }
  
  
  ::ng-deep .mat-badge-content {
    background-color: rgb(72, 121, 122);
    color: white;
  }

  button {
    font-family: 'Sora-regular', Roboto, "Helvetica Neue", sans-serif !important;
    border-radius: 18px;
  }

  button:hover {
    background-color: #7f91bc92 ;
  }