<mat-toolbar class="rounded-toolbar">
    <a class="bigger-text logo"
    [routerLink]="'/'">
      wireHOME
    </a>
  
    <span class="example-spacer"></span>

    <!-- <button mat-button class="white-text" routerLink="">
      <mat-icon>account_circle</mat-icon>
      Account
    </button> -->
    
    <button mat-button [routerLink]="['/login']" *ngIf="this.user.email == null">
      Log in
      <!-- <mat-icon>favorite</mat-icon> -->
    </button>
    <button mat-button [routerLink]="['/register']" *ngIf="this.user.email == null">
      Register
      <!-- <mat-icon>favorite</mat-icon> -->
    </button>
    <button mat-button class="white-text" (click)="logout()" *ngIf="this.user.email != null">
      Log out
      <!-- <mat-icon>favorite</mat-icon> -->
    </button>
  </mat-toolbar>
  